.infoContainer{
    display: flex;
    flex-direction: column;
    align-items: stretch;

    gap: 3px;
}

.horizontalInfo{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.horizontalLabel{
    color: var(--text-color-secondary);
    font-size: 12px;

    width: 90px;
    flex-shrink: 0;
}

.horizontalValue{
    color: var(--text-color);
    font-size: 12px;
}