.margin{
    margin-left: 16px;
    margin-right: 16px;
}

.unlockCredentialsField{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.credentialSettings{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 6px;
}

.helpText{
    border: 1px solid var(--background-border-color);
    border-radius: 3px;
    padding: 6px;
    font-size: var(--text-size-s);
    color: var(--text-color-tertiary);
}

.errorText{
    padding: 6px;
    font-size: var(--text-size-s);
    color: var(--color-error);
}

.warnText{
    border: 1px solid var(--color-warning);
    border-radius: 3px;
    padding: 6px;
    font-size: var(--text-size-s);
    color: var(--color-warning);
}

.dangerField{
    background-color: var(--color-error);
    border: 1px solid var(--background-border-color);
    border-radius: 6px;
    padding: 6px;
}