.paddings{
    padding-left: 16px;
    padding-right: 16px;
}

.panel{
    background-color: var(--background-color-secondary);

    border-radius: 8px;
    border: 1px solid var(--background-border-color);

    width: 420px;
    min-height: 100px;

    display: flex;
    flex-direction: column;
    gap: 6px;

    align-items: stretch;

    padding-top: 8px;
    padding-bottom: 8px;
}

.header{
    composes: paddings;
    /* background-color: lightgray; */

    min-height: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerFont{
    font-size: 18px;
}

.buttons{
    composes: paddings;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.field{
    composes: paddings;

    display: flex;
    flex-direction: row;
    align-items: center;

    height: 30px;
}

.label{
    color: var(--text-color-secondary);
    flex-basis: 120px;
    flex-shrink: 0;
    font-size: var(--text-size-base);
}

.infoFieldText{
    color: var(--text-color-secondary);
    font-size: var(--text-size-base);
    flex-grow: 1;
    flex-shrink: 1;
    /* flex-basis: 0; */
    width: 0px;
}

.inputField{
    flex-grow: 1;
}

.settingsOverlay{
    background-color: rgba(0,0,0, 0.7);
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.unlockCredentialsField{
    composes: paddings;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}