.paddings{
    padding-left: 16px;
    padding-right: 16px;
}

.margin{
    margin-left: 16px;
    margin-right: 16px;
}

.panel{
    background-color: var(--background-color-secondary);

    border-radius: 8px;
    border: 1px solid var(--background-border-color);

    width: 420px;
    min-height: 100px;

    display: flex;
    flex-direction: column;
    gap: 6px;

    align-items: stretch;

    padding-top: 8px;
    padding-bottom: 8px;
}

.header{
    composes: paddings;
    /* background-color: lightgray; */

    min-height: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerFont{
    font-size: 18px;
}

.buttons{
    composes: paddings;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.field{
    composes: paddings;

    display: flex;
    flex-direction: row;
    align-items: center;

    height: 30px;
}

.label{
    color: var(--text-color-secondary);
    flex-basis: 120px;
    flex-shrink: 0;
    font-size: var(--text-size-base);
}

.infoFieldText{
    color: var(--text-color-secondary);
    font-size: var(--text-size-base);
    flex-grow: 1;
    flex-shrink: 1;
    /* flex-basis: 0; */
    width: 0px;
}

.inputField{
    flex-grow: 1;
}

.settingsOverlay{
    background-color: rgba(0,0,0, 0.7);
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.unlockCredentialsField{
    composes: paddings;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.credentialSettings{
    composes: paddings;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 6px;
}

.helpText{
    border: 1px solid var(--background-border-color);
    border-radius: 3px;
    padding: 6px;
    font-size: var(--text-size-s);
    color: var(--text-color-tertiary);
}

.errorText{
    padding: 6px;
    font-size: var(--text-size-s);
    color: var(--color-error);
}

.warnText{
    border: 1px solid var(--color-warning);
    border-radius: 3px;
    padding: 6px;
    font-size: var(--text-size-s);
    color: var(--color-warning);
}

.dangerField{
    composes: margin;

    background-color: var(--color-error);
    border: 1px solid var(--background-border-color);
    border-radius: 6px;
    padding: 6px;
}


.historyButtonsArray{
    composes: margin;

    display: flex;
    flex-direction: row;
    gap: 6px;
}

.historyButton{
    /* all: unset; */
    background-color: var(--button-default-background-color-disabled);
    padding: 4px;
    color: var(--text-color-secondary);
    
    border: 1px solid var(--background-border-color);
    border-radius: 3px;
}

.historyButton:hover{
    background-color: var(--button-default-background-color-hover);
}

.historyButton:active{
    background-color: var(--button-default-background-color-active);
}